body {
  font-family: arial,helvetica,sans-serif;
}

/** =================== Framework =================== **/
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #6288a5;
}

a:hover {
  text-decoration: underline;
}

.button {
  background: #f8f8f8;
  color: #333;
  height: 30px;
  border: solid 1px #d3d3d3;
  border-radius: 2px;
  margin: 0 5px;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  font-weight: bold;
  font-size: 11px;
}

.button:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.button:focus {
  box-shadow: none;
}

/** =================== Page =================== **/
#page {
  width: 1440px;
  margin: 0 auto;
  box-shadow: -1px 0 4px 0 #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}

/** =================== Navbar =================== **/
.top-navbar {
  z-index: 10000;
  position: fixed;
  width: 100%;
  max-width: 1438px;
  background: #fff;
}

.nav1 {
  height: 47px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

.nav1 .button {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.nav1 .logo {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sections button {
  padding: 0 14px;
  position: relative;
  left: -20px;
  background: #fff;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.06), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.02);
}

.home button, .search button, .options button {
  border: none;
  background: #fff;
  box-shadow: none;
}

.home button:hover, .search button:hover, .options button:hover {
  box-shadow: none;
}

.options button {
  font-size: 18px;
}

.subscribe button, .log button {
  background: #6288a5;
  border-color: #4d7b9f;
  color: #fff;
}

.subscribe button:hover, .log button:hover {
  background: #326891;
  border-color: #265e8b;
}

.nav2 {
  min-height: 82px;
  overflow: scroll;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.related-box {
  width: 100%;
  min-width: 229px;
  cursor: pointer;
  padding: 5px;
}

.related-box:not(:first-child) {
  border-left: 1px solid #d8d8d8;
}

.related-box:hover p {
  text-decoration: underline;
}

.related-box img {
  margin-right: 4px;
  width: 65px;
  height: 65px;
  float: left;
}

.related-box p {
  margin: 2px;
  color: #333;
  font-size: 13px;
  line-height: 1.2;
}

/** =================== Story =================== **/
main {
  border-top: 1px solid black;
  margin: 130px auto 20px;
  max-width: 1125px;
}

main .story-image img {
  width: 100%;
}

main .caption {
  max-width: 650px;
  color: #8a8a8a;
  font-size: 14px;
  font-family: georgia,times,serif;
}

main .caption span:last-child {
  font-size: 11px;
}

.story-header h1 {
  margin-bottom: 0;
  border-bottom: 1px solid #d8d8d8;
  line-height: 2em;
  font-size: 32px;
  font-family: georgia, times, serif;
  font-style: italic;
}

.story-header h3 {
  font-size: 13px;
  line-height: 1rem;
  letter-spacing: 0.05em;
}

.story-header a {
  color: #333;
  text-transform: uppercase;
}

.undertitle {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.undertitle .author {
  font-size: 11px;
}

.undertitle .author span, .undertitle .author a {
  font-weight: bold;
}

.undertitle time {
  margin-left: 10px;
}

.undertitle .social span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 5px;
  height: 28px;
  width: 28px;
  font-size: 14px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.undertitle .social span:not(:nth-last-child(-n+2)) {
  background: #333;
  color: #fff;
}

.undertitle .social span:not(:nth-last-child(-n+2)):hover {
  background: #167ac6;
}

.undertitle .social span:nth-last-child(-n+2):hover {
  background: #333;
  color: #fff;
}

.story {
  width: 575px;
  margin: 25px auto 25px 75px;
}

.story p {
  line-height: 1.6rem;
  font-family: georgia,times,serif;
  font-size: 17px;
}

.story-interrupter {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.story-interrupter .title h2 {
  font-size: 20px;
}

.story-interrupter .title p {
  color: #8a8a8a;
  font-size: 14px;
  max-width: 900px;
}

.diagram {
  background: url("../images/diagram.png") no-repeat;
  background-size: 945px 576px;
  height: 576px;
  width: 945px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diagram .text-box {
  width: 228px;
}

.diagram .text-box span {
  position: relative;
  top: 50%;
  font-size: 13px;
  letter-spacing: .05em;
}

.diagram .text-box span:first-child {
  font-weight: bold;
}

.credit {
  margin-top: 25px;
  font-size: 11px;
  color: #8a8a8a;
}

hr {
  width: 60px;
  border-color: #333;
  float: left;
  margin-bottom: 20px;
}

.story-footer {
  clear: left;
}

.story-footer p, .story-footer a {
  font-family: arial,helvetica,sans-serif;
  font-size: 11px;
  color: #8a8a8a;
  line-height: 1.1em;
}

/** =================== More News =================== **/
#more {
  width: 1125px;
  margin: 0 auto;
}

#more > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-col {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.l-col header {
  border-top: 1px solid #d8d8d8;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.l-col header h2 {
  font-size: 17px;
  margin: 0;
  cursor: pointer;
}

.l-col header h2:hover {
  text-decoration: underline;
}

.l-col header a {
  font-size: 11px;
}

.r-col {
  margin-left: 20px;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.r-col header {
  border-top: 1px solid #d8d8d8;
}

.r-col header h2 {
  text-transform: uppercase;
  font-size: 11px;
}

.r-col .footer {
  margin-top: 10px;
  font-size: 11px;
  color: #326891;
}

.more-news {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-news-box {
  width: 210px;
  margin-bottom: 20px;
}

.more-news-box img {
  width: 100%;
  display: block;
}

.more-news-box h3 {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;
}

.more-news-box h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 5px auto;
  line-height: 1.3;
}

.trending-box {
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

.trending-box span {
  font-size: 20px;
}

.trending-box a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  margin: 0 10px;
}

.trending-box img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/** =================== Bottom Navbar =================== **/
#bottom-nav {
  margin: 130px auto 0;
  width: 1125px;
}

.header {
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d8d8d8;
}

.header img {
  cursor: pointer;
  width: 185px;
  height: 26px;
}

.header a {
  font-size: 11px;
}

.columns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  width: 165px;
}

.col h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 0.7rem;
}

.col ul {
  padding-left: 0;
}

.col ul li {
  font-size: 13px;
  line-height: 1rem;
  margin-bottom: 8px;
  max-width: 145px;
}

.col ul li a {
  color: #333;
}

.last-col {
  padding-left: 10px;
  border-left: 1px solid #d8d8d8;
}

.last-col ul:first-of-type li:nth-child(-n+4) a {
  font-size: 14px;
  font-weight: bold;
}

.last-col ul:last-child {
  border-top: 1px solid #d8d8d8;
}

.last-col ul:last-child li:first-child {
  padding-top: 10px;
}

/** =================== Footer =================== **/
footer {
  border-top: 1px solid #d8d8d8;
  width: 1125px;
  margin: 10px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .nav ul {
  padding-left: 0;
  margin: 0;
}

footer .nav ul li {
  cursor: pointer;
  display: inline;
  padding: 0 5px;
  color: #999;
  font-size: 11px;
  line-height: 10px;
}

footer .nav ul li:hover {
  text-decoration: underline;
}

footer .nav ul li:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}
