/****** Framework ******/
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #6288a5;
}

a:hover {
  text-decoration: underline;
}

.con {
  background: #fff;
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2;
  padding: 15px 15px 5px;
}

.button {
  background: #f8f8f8;
  color: #333;
  height: 28px;
  border: solid 1px #d3d3d3;
  border-radius: 2px;
  padding: 0 8px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 11px;
}

.button:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.button:focus {
  box-shadow: none;
  outline: 0;
}

.button:active {
  background: #e9e9e9;
  box-shadow: inset 0 1px 0 #ddd;
}

/****** Framework ******/
#page {
  max-width: 1600px;
  margin: 0 auto;
}

.top-navbar {
  position: fixed;
  width: 100%;
  max-width: inherit;
  background: #fff;
}

.nav1 {
  height: 47px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav1 .button {
  height: 100%;
  text-transform: uppercase;
}

.nav1 .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav2 {
  min-height: 82px;
  overflow: scroll;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav2 .related-box {
  width: 100%;
  min-width: 229px;
}

.nav2 .related-box:not(:first-child) {
  border-left: 1px solid #d8d8d8;
}

.related-box {
  cursor: pointer;
  padding: 5px;
}

.related-box img {
  margin-right: 4px;
  width: 65px;
  height: 65px;
  float: left;
}

.related-box p {
  margin: 2px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.2;
}

main {
  background: lightgray;
  margin: 130px auto 20px;
  max-width: 1125px;
}

main {
  width: 1125px;
  height: 1000px;
  border: 2px solid black;
}

#more {
  width: 1125px;
  margin: 0 auto;
}

#more > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-col {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.l-col header {
  border-top: 1px solid #d8d8d8;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.l-col header h2 {
  font-size: 17px;
  margin: 0;
  cursor: pointer;
}

.l-col header h2:hover {
  text-decoration: underline;
}

.l-col header a {
  font-size: 11px;
}

.r-col {
  margin-left: 20px;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.r-col header {
  border-top: 1px solid #d8d8d8;
}

.r-col header h2 {
  text-transform: uppercase;
  font-size: 11px;
}

.more-news {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-news-box {
  width: 210px;
  margin-bottom: 20px;
}

.more-news-box img {
  width: 100%;
  display: block;
}

.more-news-box h3 {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;
}

.more-news-box h2 {
  font-size: 14px;
  margin: 0;
  line-height: 1.3;
}

.trending-box {
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

.trending-box span {
  font-size: 20px;
}

.trending-box a {
  font-size: 14px;
  margin: 0 10px;
}

.trending-box img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#bottom-nav {
  margin: 130px auto 0;
  width: 1125px;
}

.header {
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d8d8d8;
}

.header img {
  width: 185px;
  height: 26px;
}

.header a {
  font-size: 11px;
}

.columns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  width: 165px;
}

.col h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 0.7rem;
}

.col ul {
  padding-left: 0;
}

.col ul li {
  font-size: 13px;
  line-height: 1rem;
  margin-bottom: 8px;
  max-width: 145px;
}

.col ul li a {
  color: #333;
}

.last-col {
  padding-left: 10px;
  border-left: 1px solid #d8d8d8;
}

.last-col ul:first-of-type li:nth-child(-n+4) a {
  font-size: 14px;
  font-weight: bold;
}

.last-col ul:last-child {
  border-top: 1px solid #d8d8d8;
}

.last-col ul:last-child li:first-child {
  padding-top: 10px;
}

footer {
  border-top: 1px solid #d8d8d8;
  width: 1125px;
  margin: 10px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .nav ul {
  padding-left: 0;
  margin: 0;
}

footer .nav ul li {
  cursor: pointer;
  display: inline;
  padding: 0 5px;
  color: #999;
  font-size: 11px;
  line-height: 10px;
}

footer .nav ul li:hover {
  text-decoration: underline;
}

footer .nav ul li:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}
